# 시리즈 기초 동작

### 시리즈 생성

In [46]:
import pandas as pd # 관용적으로 pandas 모듈을 pd로 별칭하여 사용함
import time

In [47]:
# 버전 확인
# time.sleep(1)
pd.__version__

'2.1.4'

In [48]:
# 시리즈(Series): 데이터 프레임(2차원 데이터)에서 열을 표현할 수 있는 벡터(벡터: 1차원 배열)
# 시리즈 생성하는 문법
# pd.Series([시리즈데이터]) : 보통 리스트로 생성
# 판다스에서 내부적으로 처리하는 데이터가 존재: 숫자 타입 => int64

# time.sleep(1)
ser1 = pd.Series([1,2,3])
ser1

0    1
1    2
2    3
dtype: int64

# 기본 브로드 캐스팅 연산

### 동일 요소간 리스트 연산

In [49]:
list1 = [1,2,3]
list2 = [1,2,3]

In [50]:
list1 + list2 # 파이썬 기본 리스트 타입에서 + 연산은 리스트의 확장

[1, 2, 3, 1, 2, 3]

In [51]:
list1

[1, 2, 3]

In [52]:
list2

[1, 2, 3]

In [53]:
result = []
for index in range(len(list1)):
    # print(index)
    result.append(list1[index] + list2[index])
result

[2, 4, 6]

### 동일 요소간 시리즈 연산

In [54]:
# time.sleep(1)
ser2 = pd.Series([1,2,3])
ser2

0    1
1    2
2    3
dtype: int64

* 시리즈의 요소가 같을 경우에는 같은 요소끼리 연산자를 적용한다.
* 연산 결과를 반환하고 개별 시리즈는 변경되지 않는다.

In [55]:
ser1 + ser2

0    2
1    4
2    6
dtype: int64

In [56]:
ser1

0    1
1    2
2    3
dtype: int64

In [57]:
ser2

0    1
1    2
2    3
dtype: int64

In [58]:
ser1 * ser2

0    1
1    4
2    9
dtype: int64

### 동일 요소가 아닌 경우의 연산

* 파이썬 리스트 버전

In [59]:
# 수학 성적이라고 가정하고 너무 점수가 낮아 전체적으로 가산점을 주려고 한다.
scores = [10,20,30]
for index in range(len(scores)):
    # scores[index] = scores[index] + 50
    scores[index] += 50
scores

[60, 70, 80]

* 시리즈 버전  
단일 리터럴(값)을 더할 경우 기존 시리즈의 요소(차원)에 맞추어 연산을 한다.

In [62]:
# 수학 성적이라고 가정하고 너무 점수가 낮아 전체적으로 가산점을 주려고 한다.
ser1 = pd.Series([10,20,30])

In [45]:
ser1 + 50

0    60
1    70
2    80
dtype: int64

* 시리즈간 요소의 개수가 맞지 않은 경우

In [60]:
ser1 = pd.Series([1,2,3])
ser3 = pd.Series([1,2,3,4])
ser1 + ser3

0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64

In [ ]:
판다스에서 정의되지 않은 값은 NaN으로 표기한다.
NaN과의 모든 연산은 NaN이다.
요소가 있을 경우에는 정상 브로드캐스팅 연산을 하고 요소가 없는 경우에는 NaN으로 처리한다.

* 연습문제] 아래 직원연봉 정보에서 연봉을 4.5% 인상하는 프로그램 작성하세요  
[3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]

* 파이썬 버전(참고)

In [ ]:
salaries = [3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]
salaries_increase = []

for salary in salaries:
    increased_salary = salary * 1.045
    salaries_increase.append(increased_salary)

print(salaries_increase)

* 판다스 버전

In [71]:
pd.Series([3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]) * 1.045

0    3887.400
1    5705.700
2    4389.000
3    6792.500
4    7445.625
5    5956.500
6    7879.300
7    4075.500
8    7085.100
9    5036.900
dtype: float64

* [3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]의 연봉 정보에서 10% 인상분은?

In [65]:
 pd.Series([3720, 5460, 4200, 6500, 7125, 5700, 7540, 3900, 6780, 4820]) * 0.1

0    372.0
1    546.0
2    420.0
3    650.0
4    712.5
5    570.0
6    754.0
7    390.0
8    678.0
9    482.0
dtype: float64