In [1]:
import pandas as pd

In [2]:
df_sax=pd.Series([1,2,3,4])
df_sax

0    1
1    2
2    3
3    4
dtype: int64

* 단일 열에 대한 총합

In [4]:
df_sax.sum()

10

In [14]:
df_dax = pd.DataFrame(
    [
        [1,2,3,4],
        [5,6,7,8]
    ]
)
df_dax

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

* 데이터 프레임에 대한 연산 함수는 축을 기준으로 연산 결과를 제공, 이 때 사용하는 속성명이 axis
    * axis=0 : 행
    * axis=1 : 열
[주의사항] axis를 사용하는 함수에서 행, 열의 의미가 달라질 수 있다.

In [19]:
# sum함수에서 axis 해석
# axis=0: 행 (세로방향) => 행을 고정해서 열단위로 총합 구함 => 각 열의 총합을 구한다.
# axis=1: 열 (가로방향) => 열을 고정해서 행단위로 총합 구함 => 각 행의 총합을 구한다.
df_dax.sum(axis=0)

0     6
1     8
2    10
3    12
dtype: int64

In [16]:
df_sax.sum(axis=1)

0    10
1    26
dtype: int64

In [21]:
df_dax.mean(axis=0)

0    3.0
1    4.0
2    5.0
3    6.0
dtype: float64

In [22]:
df_dax.mean(axis=1)

0    2.5
1    6.5
dtype: float64

* 행/열 단위 작업의 의미에서 axis 옵션 활용

In [24]:
df_dax

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [25]:
df_dax.drop(0, axis=0)

   0  1  2  3
1  5  6  7  8

In [26]:
df_dax

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [27]:
df_dax.drop(1, axis=0)

   0  1  2  3
0  1  2  3  4

In [28]:
df_dax.drop(0,axis=1)

   1  2  3
0  2  3  4
1  6  7  8