# 시리즈

## 리스트로 시리즈 생성

In [1]:
import pandas as pd

In [3]:
obj = pd.Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

## Dict(딕셔너리)로 시리즈 생성

* 키가 시리즈의 인덱스로 활용이 된다.

In [5]:
d = {
    '1차성적': 86,
    '2차성적': 85,
    '3차성적': 89,
    '4차성적': 95,
}

ser1 = pd.Series(d)
ser1

1차성적    86
2차성적    85
3차성적    89
4차성적    95
dtype: int64

In [7]:
d2={
    'id0001':'홍길동',
    'id0002':'이순신',
    'id0003':'강감찬',
    'id0004':'임꺽정',
}
ser2 = pd.Series(d2)
ser2

id0001    홍길동
id0002    이순신
id0003    강감찬
id0004    임꺽정
dtype: object

# 데이터 프레임

## 시리즈로 데이터 프레임 생성 1 - Dict의 키가 index로 활용

In [9]:
# 시리즈로 데이터 프레임 생성 가능
# Dict 타입으로 데이터 프레임을 생성하게 되면 인덱스가 dict타입의 키로 자동으로 생성된다.
d2={
    'id0001':'홍길동',
    'id0002':'이순신',
    'id0003':'강감찬',
    'id0004':'임꺽정',
}
ser2 = pd.Series(d2)
df = pd.DataFrame(ser2, columns=['이름']) 
df

         이름
id0001  홍길동
id0002  이순신
id0003  강감찬
id0004  임꺽정

In [10]:
s1 = pd.Series([91,92,93,94], name='s1')
s2 = pd.Series([81,82,83,84], name='s2')

In [11]:
df = pd.DataFrame(
    {'국어점수':s1, # 딕셔너리의 키가 데이터 프레임의 열 이름으로 활용
    '수학점수':s2}
) # dict 타입에서 value를 시리즈에서 가져올수 있다.
df

   국어점수  수학점수
0    91    81
1    92    82
2    93    83
3    94    84

In [13]:
df = pd.DataFrame(
    {'국어점수': [91,92,93,94], # 딕셔너리의 키가 데이터 프레임의 열 이름으로 활용
    '수학점수': [81,82,83,84]}
) # dict 타입에서 value를 시리즈에서 가져올수 있다.
df

   국어점수  수학점수
0    91    81
1    92    82
2    93    83
3    94    84