In [1]:
import pandas as pd

* 파일 열기

In [2]:
ct = pd.read_csv('data/2017_college_tuition.csv ', encoding='cp949')

* 실데이터 원본을 볼 수 있으면 본다.

* 데이터 샘플 조회

In [4]:
ct.head()

         학교명 설립구분  평균등록금
0    강릉원주대학교  국공립   4262
1      강원대학교  국공립   4116
2  경남과학기술대학교  국공립   3771
3      경북대학교  국공립   4351
4      경상대학교  국공립   3967

In [5]:
ct.tail()

         학교명 설립구분  평균등록금
191    호남대학교   사립   6482
192  호남신학대학교   사립   6438
193    호서대학교   사립   7695
194    호원대학교   사립   6929
195    홍익대학교   사립   8297

* 데이터 사이즈 윤곽을 간단하게 파악

In [6]:
ct.shape

(196, 3)

* 데이터 요약정보 참조

In [8]:
ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학교명     196 non-null    object
 1   설립구분    196 non-null    object
 2   평균등록금   196 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.7+ KB

* 주피터에서 확인 가능한 최대사이즈의 샘플 확인

In [9]:
ct.head(60)

          학교명 설립구분  평균등록금
0     강릉원주대학교  국공립   4262
1       강원대학교  국공립   4116
2   경남과학기술대학교  국공립   3771
3       경북대학교  국공립   4351
4       경상대학교  국공립   3967
5     경인교육대학교  국공립   3189
6     공주교육대학교  국공립   3424
7       공주대학교  국공립   3824
8     광주교육대학교  국공립   3477
9       군산대학교  국공립   3914
10    금오공과대학교  국공립   3769
11    대구교육대학교  국공립   3604
12      목포대학교  국공립   3895
13    목포해양대학교  국공립   3424
14      부경대학교  국공립   4042
15    부산교육대학교  국공립   3024
16      부산대학교  국공립   4325
17  서울과학기술대학교  국공립   5405
18    서울교육대학교  국공립   3088
19      서울대학교  국공립   5962
20    서울시립대학교  국공립   2390
21      순천대학교  국공립   3946
22      안동대학교  국공립   3745
23      인천대학교  국공립   4681
24      전남대학교  국공립   4129
25      전북대학교  국공립   4181
26    전주교육대학교  국공립   3272
27      제주대학교  국공립   3783
28    진주교육대학교  국공립   3445
29      창원대학교  국공립   3898
30    청주교육대학교  국공립   3230
31    춘천교육대학교  국공립   3185
32      충남대학교  국공립   4216
33      충북대학교  국공립   4253
34      한경대학교  국공립   4062
35    한국교원대학교  국공립   3184
36    한국교통대학교  국공립   4107
37    한국체육대학교  국공립   3884
38    한국해양대학교  국공립   3743
39      한밭대학교  국공립   4451
40      가야대학교   사립   6656
41      가천대학교   사립   8206
42   가톨릭관동대학교   사립   7088
43     가톨릭대학교   사립   7016
44   감리교신학대학교   사립   5994
45      강남대학교   사립   7358
46      건국대학교   사립   8042
47      건양대학교   사립   6700
48      경기대학교   사립   7226
49      경남대학교   사립   6426
50      경동대학교   사립   7272
51      경성대학교   사립   6486
52      경운대학교   사립   7534
53      경일대학교   사립   7183
54      경주대학교   사립   6722
55      경희대학교   사립   7752
56      계명대학교   사립   7151
57      고려대학교   사립   8215
58      고신대학교   사립   6594
59      광신대학교   사립   5986

# 특정열 조회

* 시리즈 형태로

In [12]:
ct['학교명'].head()

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
Name: 학교명, dtype: object

* 데이터 프레임 형태로

In [14]:
school = pd.DataFrame(ct['학교명'])
school.head()

         학교명
0    강릉원주대학교
1      강원대학교
2  경남과학기술대학교
3      경북대학교
4      경상대학교

In [15]:
ct.columns

Index(['학교명', '설립구분', '평균등록금'], dtype='object')

In [16]:
ct['설립구분'].head()

0    국공립
1    국공립
2    국공립
3    국공립
4    국공립
Name: 설립구분, dtype: object

In [17]:
ct['평균등록금'].head()

0    4262
1    4116
2    3771
3    4351
4    3967
Name: 평균등록금, dtype: int64

# 기본검색

## 시리즈에서 개별 인덱스 검색

In [18]:
ct['학교명']

0        강릉원주대학교
1          강원대학교
2      경남과학기술대학교
3          경북대학교
4          경상대학교
         ...
191        호남대학교
192      호남신학대학교
193        호서대학교
194        호원대학교
195        홍익대학교
Name: 학교명, Length: 196, dtype: object

In [19]:
ct['학교명'][1]

'강원대학교'

In [20]:
ct['학교명'][192]

'호남신학대학교'

## 시리즈에서 슬라이스 검색

In [21]:
ct['학교명'].head(60)

0       강릉원주대학교
1         강원대학교
2     경남과학기술대학교
3         경북대학교
4         경상대학교
5       경인교육대학교
6       공주교육대학교
7         공주대학교
8       광주교육대학교
9         군산대학교
10      금오공과대학교
11      대구교육대학교
12        목포대학교
13      목포해양대학교
14        부경대학교
15      부산교육대학교
16        부산대학교
17    서울과학기술대학교
18      서울교육대학교
19        서울대학교
20      서울시립대학교
21        순천대학교
22        안동대학교
23        인천대학교
24        전남대학교
25        전북대학교
26      전주교육대학교
27        제주대학교
28      진주교육대학교
29        창원대학교
30      청주교육대학교
31      춘천교육대학교
32        충남대학교
33        충북대학교
34        한경대학교
35      한국교원대학교
36      한국교통대학교
37      한국체육대학교
38      한국해양대학교
39        한밭대학교
40        가야대학교
41        가천대학교
42     가톨릭관동대학교
43       가톨릭대학교
44     감리교신학대학교
45        강남대학교
46        건국대학교
47        건양대학교
48        경기대학교
49        경남대학교
50        경동대학교
51        경성대학교
52        경운대학교
53        경일대학교
54        경주대학교
55        경희대학교
56        계명대학교
57        고려대학교
58        고신대학교
59        광신대학교
Name: 학교명, dtype: object

In [22]:
ct['학교명'][60:70]

60       광운대학교
61    광주가톨릭대학교
62       광주대학교
63     광주여자대학교
64       국민대학교
65       극동대학교
66       금강대학교
67       김천대학교
68      꽃동네대학교
69      나사렛대학교
Name: 학교명, dtype: object

## 데이터 프레임

In [23]:
ct[60:70]

         학교명 설립구분  평균등록금
60     광운대학교   사립   7800
61  광주가톨릭대학교   사립      0
62     광주대학교   사립   6497
63   광주여자대학교   사립   6269
64     국민대학교   사립   7853
65     극동대학교   사립   7336
66     금강대학교   사립   6564
67     김천대학교   사립   6980
68    꽃동네대학교   사립   7031
69    나사렛대학교   사립   7115