# 갱신

## 원본 데이터

In [1]:
import pandas as pd

In [2]:
data = {'가' : pd.Series([1.], index=['a']),
        '나' : pd.Series([1., 2.], index=['a', 'b']),
        '다' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(data)
df

     가    나    다
a  1.0  1.0  1.0
b  NaN  2.0  2.0
c  NaN  NaN  3.0
d  NaN  NaN  4.0

## 시리즈를 생성하여 열 갱신

In [3]:
df['나'] = pd.Series([3,4,5,6], index=list('abcd'), dtype='float')
df

     가    나    다
a  1.0  3.0  1.0
b  NaN  4.0  2.0
c  NaN  5.0  3.0
d  NaN  6.0  4.0

## 개별 요소 갱신

In [4]:
df1 = df[['나','다']]
df1

     나    다
a  3.0  1.0
b  4.0  2.0
c  5.0  3.0
d  6.0  4.0

* loc로 a행 나열의 값을 갱신

In [6]:
df1.loc['a','나']= 100
df1

       나    다
a  100.0  1.0
b    4.0  2.0
c    5.0  3.0
d    6.0  4.0

* iloc로 a행 다열의 값을 갱신

In [9]:
df1.iloc[0,-1] = 100
df1

       나      다
a  100.0  100.0
b    4.0    2.0
c    5.0    3.0
d    6.0    4.0

* at로 b행 다열의 값을 갱신

In [11]:
df1.at['b','다']= 100
df1

       나      다
a  100.0  100.0
b    4.0  100.0
c    5.0    3.0
d    6.0    4.0

## 다중행 갱신

* loc()로 멀티행(c,d행) 다열의 값을 갱신

In [12]:
df1.loc[ ['c','d'], ['다'] ] = 100
df1

       나      다
a  100.0  100.0
b    4.0  100.0
c    5.0  100.0
d    6.0  100.0

## 위치 이동

* 나열을 기준으로 아래에서 위로 한칸식 이동(Shift)

In [13]:
df1.나.shift(-1)

a    4.0
b    5.0
c    6.0
d    NaN
Name: 나, dtype: float64

* 시프트 이동시 마지막 값은 NaN으로 변경

* 나열을 기준으로 위에서 아래로 한칸식 이동(Shift)

In [18]:
df1.나.shift(1)

a      NaN
b    100.0
c      4.0
d      5.0
Name: 나, dtype: float64