In [44]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
# 한글 폰트
font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname = font_location).get_name()
rc('font', family=font_name)
iris = sns.load_dataset('iris')
iris.shape

(150, 5)

In [45]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
iris.rename(columns = {
    "sepal_length" : "꽃받침길이",
    "sepal_width" : "꽃받침너비",
    "petal_length" : "꽃잎길이",
    "petal_width": "꽃잎너비",
    "species" : "품종"},
    inplace = True
)
iris.head()

   꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비      품종
0    5.1    3.5   1.4   0.2  setosa
1    4.9    3.0   1.4   0.2  setosa
2    4.7    3.2   1.3   0.2  setosa
3    4.6    3.1   1.5   0.2  setosa
4    5.0    3.6   1.4   0.2  setosa

In [47]:
iris.loc[1]

꽃받침길이       4.9
꽃받침너비       3.0
꽃잎길이        1.4
꽃잎너비        0.2
품종       setosa
Name: 1, dtype: object

In [48]:
iris.iloc[0:50]

    꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비      품종
0     5.1    3.5   1.4   0.2  setosa
1     4.9    3.0   1.4   0.2  setosa
2     4.7    3.2   1.3   0.2  setosa
3     4.6    3.1   1.5   0.2  setosa
4     5.0    3.6   1.4   0.2  setosa
5     5.4    3.9   1.7   0.4  setosa
6     4.6    3.4   1.4   0.3  setosa
7     5.0    3.4   1.5   0.2  setosa
8     4.4    2.9   1.4   0.2  setosa
9     4.9    3.1   1.5   0.1  setosa
10    5.4    3.7   1.5   0.2  setosa
11    4.8    3.4   1.6   0.2  setosa
12    4.8    3.0   1.4   0.1  setosa
13    4.3    3.0   1.1   0.1  setosa
14    5.8    4.0   1.2   0.2  setosa
15    5.7    4.4   1.5   0.4  setosa
16    5.4    3.9   1.3   0.4  setosa
17    5.1    3.5   1.4   0.3  setosa
18    5.7    3.8   1.7   0.3  setosa
19    5.1    3.8   1.5   0.3  setosa
20    5.4    3.4   1.7   0.2  setosa
21    5.1    3.7   1.5   0.4  setosa
22    4.6    3.6   1.0   0.2  setosa
23    5.1    3.3   1.7   0.5  setosa
24    4.8    3.4   1.9   0.2  setosa
25    5.0    3.0   1.6   0.2  setosa
26    5.0    3.4   1.6   0.4  setosa
27    5.2    3.5   1.5   0.2  setosa
28    5.2    3.4   1.4   0.2  setosa
29    4.7    3.2   1.6   0.2  setosa
30    4.8    3.1   1.6   0.2  setosa
31    5.4    3.4   1.5   0.4  setosa
32    5.2    4.1   1.5   0.1  setosa
33    5.5    4.2   1.4   0.2  setosa
34    4.9    3.1   1.5   0.2  setosa
35    5.0    3.2   1.2   0.2  setosa
36    5.5    3.5   1.3   0.2  setosa
37    4.9    3.6   1.4   0.1  setosa
38    4.4    3.0   1.3   0.2  setosa
39    5.1    3.4   1.5   0.2  setosa
40    5.0    3.5   1.3   0.3  setosa
41    4.5    2.3   1.3   0.3  setosa
42    4.4    3.2   1.3   0.2  setosa
43    5.0    3.5   1.6   0.6  setosa
44    5.1    3.8   1.9   0.4  setosa
45    4.8    3.0   1.4   0.3  setosa
46    5.1    3.8   1.6   0.2  setosa
47    4.6    3.2   1.4   0.2  setosa
48    5.3    3.7   1.5   0.2  setosa
49    5.0    3.3   1.4   0.2  setosa

In [49]:
iris_setosa = iris["품종"] == "setosa"
iris[iris_setosa]

    꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비      품종
0     5.1    3.5   1.4   0.2  setosa
1     4.9    3.0   1.4   0.2  setosa
2     4.7    3.2   1.3   0.2  setosa
3     4.6    3.1   1.5   0.2  setosa
4     5.0    3.6   1.4   0.2  setosa
5     5.4    3.9   1.7   0.4  setosa
6     4.6    3.4   1.4   0.3  setosa
7     5.0    3.4   1.5   0.2  setosa
8     4.4    2.9   1.4   0.2  setosa
9     4.9    3.1   1.5   0.1  setosa
10    5.4    3.7   1.5   0.2  setosa
11    4.8    3.4   1.6   0.2  setosa
12    4.8    3.0   1.4   0.1  setosa
13    4.3    3.0   1.1   0.1  setosa
14    5.8    4.0   1.2   0.2  setosa
15    5.7    4.4   1.5   0.4  setosa
16    5.4    3.9   1.3   0.4  setosa
17    5.1    3.5   1.4   0.3  setosa
18    5.7    3.8   1.7   0.3  setosa
19    5.1    3.8   1.5   0.3  setosa
20    5.4    3.4   1.7   0.2  setosa
21    5.1    3.7   1.5   0.4  setosa
22    4.6    3.6   1.0   0.2  setosa
23    5.1    3.3   1.7   0.5  setosa
24    4.8    3.4   1.9   0.2  setosa
25    5.0    3.0   1.6   0.2  setosa
26    5.0    3.4   1.6   0.4  setosa
27    5.2    3.5   1.5   0.2  setosa
28    5.2    3.4   1.4   0.2  setosa
29    4.7    3.2   1.6   0.2  setosa
30    4.8    3.1   1.6   0.2  setosa
31    5.4    3.4   1.5   0.4  setosa
32    5.2    4.1   1.5   0.1  setosa
33    5.5    4.2   1.4   0.2  setosa
34    4.9    3.1   1.5   0.2  setosa
35    5.0    3.2   1.2   0.2  setosa
36    5.5    3.5   1.3   0.2  setosa
37    4.9    3.6   1.4   0.1  setosa
38    4.4    3.0   1.3   0.2  setosa
39    5.1    3.4   1.5   0.2  setosa
40    5.0    3.5   1.3   0.3  setosa
41    4.5    2.3   1.3   0.3  setosa
42    4.4    3.2   1.3   0.2  setosa
43    5.0    3.5   1.6   0.6  setosa
44    5.1    3.8   1.9   0.4  setosa
45    4.8    3.0   1.4   0.3  setosa
46    5.1    3.8   1.6   0.2  setosa
47    4.6    3.2   1.4   0.2  setosa
48    5.3    3.7   1.5   0.2  setosa
49    5.0    3.3   1.4   0.2  setosa

In [50]:
iris.loc[:,["꽃받침길이", "꽃받침너비","품종"]] # 데이터프레임에서 "꽃받침길이", "꽃받침너비", "품종" 컬럼만 선택

     꽃받침길이  꽃받침너비         품종
0      5.1    3.5     setosa
1      4.9    3.0     setosa
2      4.7    3.2     setosa
3      4.6    3.1     setosa
4      5.0    3.6     setosa
..     ...    ...        ...
145    6.7    3.0  virginica
146    6.3    2.5  virginica
147    6.5    3.0  virginica
148    6.2    3.4  virginica
149    5.9    3.0  virginica

[150 rows x 3 columns]

In [51]:
iris.iloc[:,[0, 1,4]]

     꽃받침길이  꽃받침너비         품종
0      5.1    3.5     setosa
1      4.9    3.0     setosa
2      4.7    3.2     setosa
3      4.6    3.1     setosa
4      5.0    3.6     setosa
..     ...    ...        ...
145    6.7    3.0  virginica
146    6.3    2.5  virginica
147    6.5    3.0  virginica
148    6.2    3.4  virginica
149    5.9    3.0  virginica

[150 rows x 3 columns]

In [54]:
iris.groupby("품종").mean()  # 품종별 각 컬럼의 평균

            꽃받침길이  꽃받침너비   꽃잎길이   꽃잎너비
품종
setosa      5.006  3.428  1.462  0.246
versicolor  5.936  2.770  4.260  1.326
virginica   6.588  2.974  5.552  2.026