## 주요절차

### 1. 초기데이터 확인

#### 1-1. 데이터딕셔너리(각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼) 확인
#### 1-2 데이터 기초정보 확인 (사이즈, 열이름, 데이터형)

유무 확인)차트 재확인 (이

* 기초통계정보 확인

기초 통계값 확인 ( df.describe() )
[수치형 데이터] 
=> 수치데이터로서 의미가 는지 판단? 
=> 의미가 있는(예: 키, 몸무게, 가격등) 열에 대해 아래 작업 진행  분석
 - 확인해야 할 사항    수치상
mean, min, 1q, 2q(중위값), 3q,게, 가격
 - 시각화
  히스토그램, 박스플롯 (바이올린플롯)
 - 이상치 유무 확인
 - 이상치가 있다면 보정방식을 선택
  (예: 삭제, 포함)
- 기초통계값과, 차트 재확인 (이상
[보정  데이터]유무 확인)
- 문자열
 => unique의 결과값에서 파이차트나 막대차트로 그릴수  - 있는 열이 있는지 확인
 10개미만은 파이차트,  - 도우넛차트 그리기에 용이
 10개상위 은 파이차트, 막대차트(Top3,5,10 등을 도출.. 그리고 형 데이터나하위 데이터3,5,10)

* 수치 문자 중에 범위화 할 
 예)수 있는 열이 있는지 확인해 보자
 가격=> 초고가, 고가,위 작업은  일반, 저가
 주소 추후 진행할 수 있다.pply 함수를 통해ly 함수를 통해

### 2. 데이터 정제

#### 2.1. 원본데이터에서 분석가능한 형태로 데이터 전처리 (형변환, 열이름 변경등)
#### 2.2. 데이터 클리닝: 이상치, 결측치처리

### 3. 초기데이터 분석

#### 3.1 데이터 정제후 데이터딕셔너리 재확인
#### 3.2 기초통계 정보 확인 (최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값 등)
#### 3.3 시각화를 통한 데이터이해 심화

* 3.3.1 단일 열: 데이터의 성격에 따른 다양한 차트 적용  
* 3.3.2 복수 열: 두개의 열간 연관관계 분석(Pair Plot 또는 Seaborn의 관련 지원 차트등)

#### 3.4 데이터 분석 결과도출

# 4. 탐색적연구

#### Step1] 가설: 데이터 분석을 위한 목적, 대상 또는 가설을 세워본다.
* 예) 나이와 월급간에 상관관계가 있을 것이다. (40~60대 사이에서 급여가 가장 높을 것이다)

#### Step2] 가설증명: 데이터 재 구조화, 시각화를 통해 새로운 insight 및 정보를 습득 및 가설을 검증한다. 
* 예) 나이별 월급에 대한 평균값을 구하고 line차트로 시각화하여 추세를 파악하여 가설을 검증한다.

#### Step3] 가설결론: 해당 가설에 대한 결론을 내린다.

#### Step4] 탐색적연구 반복: 시간 일정이 허락하는 범위내에서 Step1~Step3를 반복한다.

#### Step5] 최종결론: 지금까지 진행했던 모든 탐색적연구의 결과를 반영하여 최종 결론을 내린다.

---

---

# 데이터분석 적용 실습 템플릿

* 필요한 모듈 import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager,rc

import random

font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)
plt.rcParams['axes.unicode_minus'] = False

## 데이터 수집

* 데이터 소스

https://www.koweps.re.kr:442/data/data/list.do

In [3]:
# 데이터 소스를 확보하세요
raw_welfare = pd.read_spss('Koweps_hpwc14_2019_beta2.sav')
# 복사본 만들기 
welfare = raw_welfare.copy()

## 1. 초기데이터 확인

### 1-1. 데이터스키마 확인

#### 각 열의 의미, 데이터의 의미해석관련 스펙 또는 메뉴얼을 확인 가능시 진행 하세요
* A열: A열의 의미를 기술
* B열: B열의 의미를 기술  
...

[전체스키마_정의 엑셀파일](./14차_머지데이터_변수명.xlsx)

[주요_정의 엑셀파일](./Koweps_Codebook_2019.xlsx)

### 1-2. 데이터 기초정보 확인

* 사이즈, 데이터형, 기초통계항목등을 확인하세요

In [4]:
#df.shape
#df.info()

welfare.shape

(14418, 830)

In [5]:
welfare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14418 entries, 0 to 14417
Columns: 830 entries, h14_id to h14_pers_income5
dtypes: float64(826), object(4)
memory usage: 91.3+ MB

* 기초통계항목

In [6]:
# df.desribe()
welfare.describe()

,h14_id,h14_ind,h14_sn,h14_merkey,h_new,h14_cobf,p14_wsc,p14_wsl,p14_wgc,p14_wgl,...,wc14_63,wc14_64,wc14_5aq4,wc14_5aq5,wc14_5aq6,h14_pers_income1,h14_pers_income2,h14_pers_income3,h14_pers_income4,h14_pers_income5
count,14418.000000,14418.000000,14418.000000,1.441800e+04,14418.000000,121.000000,11513.000000,11513.000000,11513.000000,11513.000000,...,2027.000000,2027.000000,2027.000000,2027.000000,2027.000000,2659.000000,3331.000000,989.000000,14418.000000,715.000000
mean,4672.108406,3.121723,1.004855,4.672140e+07,0.201484,2.256198,1.000000,1.000000,4484.952219,4484.952541,...,3.211643,3.743957,3.513567,4.100641,3.233350,4141.380594,1389.440408,3457.835187,2.038702,1183.292308
std,2792.998128,3.297963,0.143205,2.793014e+07,0.401123,1.675952,0.906021,1.016782,4063.459773,4560.218659,...,2.174768,3.138629,1.045929,0.937712,1.289456,2583.755449,1211.910836,6619.516319,32.965477,2147.418274
min,2.000000,1.000000,1.000000,2.010100e+04,0.000000,1.000000,0.001998,0.000000,8.960093,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-47000.000000,0.000000,-10600.000000
25%,2356.000000,1.000000,1.000000,2.356030e+07,0.000000,1.000000,0.341814,0.269286,1533.021553,1207.736094,...,1.000000,2.000000,3.000000,4.000000,2.000000,2448.000000,391.500000,1000.000000,0.000000,206.000000
50%,4535.000000,1.000000,1.000000,4.535010e+07,0.000000,2.000000,0.726304,0.704045,3257.436901,3157.609630,...,3.000000,3.000000,4.000000,4.000000,3.000000,3540.000000,1116.000000,2498.000000,0.000000,530.000000
75%,6616.000000,7.000000,1.000000,6.616010e+07,0.000000,2.000000,1.366071,1.390045,6126.762919,6234.287538,...,5.000000,5.000000,4.000000,5.000000,4.000000,5378.500000,2040.000000,4687.000000,0.000000,1295.000000
max,9800.000000,14.000000,9.000000,9.800070e+07,1.000000,7.000000,4.727006,5.790039,21200.393903,25968.049029,...,9.000000,99.000000,9.000000,9.000000,9.000000,22700.000000,11500.000000,170000.000000,3000.000000,22644.000000

## 2. 데이터 정제

### 2-1. 간단한 데이터 전처리

In [7]:
# 원본데이터로에서 읽기 가능한 형태로 데이터처리를 하세요. (열이름 변경, 형변환 등)
welfare = welfare[['h14_g3','h14_g4','h14_g10','h14_g11','p1402_8aq1','h14_eco9','h14_reg7']]

In [11]:
# 열 이름 변경하여 가독성 높이기
welfare = welfare.rename(columns = {'h14_g3'     : 'sex',            #  성별
                                    'h14_g4'     : 'birth',          #  태어난 연도
                                    'h14_g10'    : 'marriage_type',  #  혼인 상태
                                    'h14_g11'    : 'religion',       #  종교 유무 
                                    'p1402_8aq1' : 'income',         #  월급 
                                    'h14_eco9'   : 'code_job',       #  직업 코드
                                    'h14_reg7'   : 'code_region'})   #  지역 코드

In [14]:
# head와 tail 동시에 보기
welfare

       sex   birth  marriage_type  religion  income  code_job  code_region
0      2.0  1945.0            2.0       1.0     NaN       NaN          1.0
1      1.0  1948.0            2.0       2.0     NaN       NaN          1.0
2      1.0  1942.0            3.0       1.0   107.0     762.0          1.0
3      1.0  1962.0            1.0       1.0   192.0     855.0          1.0
4      2.0  1963.0            1.0       1.0     NaN       NaN          1.0
...    ...     ...            ...       ...     ...       ...          ...
14413  2.0  1967.0            1.0       1.0     NaN       NaN          5.0
14414  2.0  1992.0            5.0       1.0     NaN       NaN          5.0
14415  1.0  1995.0            5.0       1.0     NaN     910.0          5.0
14416  2.0  1998.0            5.0       1.0   200.0     246.0          5.0
14417  1.0  2001.0            0.0       1.0     NaN       NaN          5.0

[14418 rows x 7 columns]

In [12]:
welfare.shape

(14418, 7)

In [13]:
welfare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14418 entries, 0 to 14417
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sex            14418 non-null  float64
 1   birth          14418 non-null  float64
 2   marriage_type  14418 non-null  float64
 3   religion       14418 non-null  float64
 4   income         4534 non-null   float64
 5   code_job       6878 non-null   float64
 6   code_region    14418 non-null  float64
dtypes: float64(7)
memory usage: 788.6 KB

### 2-2. 데이터 클리닝

In [6]:
# 결측치, 중복값, 이상치 처리등의 작업을 진행하세요

In [22]:
welfare.describe()

,sex,birth,marriage_type,religion,income,code_job,code_region
count,14418.000000,14418.000000,14418.000000,14418.000000,4534.000000,6878.00000,14418.000000
mean,1.548828,1969.280205,1.764184,1.542031,268.455007,587.54827,3.730684
std,0.497627,24.402250,1.613871,0.498248,198.021206,264.23507,2.049151
min,1.000000,1907.000000,0.000000,1.000000,0.000000,111.00000,1.000000
25%,1.000000,1948.000000,1.000000,1.000000,150.000000,313.00000,2.000000
50%,2.000000,1968.000000,1.000000,2.000000,220.000000,611.00000,3.000000
75%,2.000000,1990.000000,2.000000,2.000000,345.750000,873.00000,5.000000
max,2.000000,2018.000000,6.000000,2.000000,1892.000000,1009.00000,7.000000

* 결측치
    * 소득(income), 직업코드(code_job)에 결측치가 확인 되며 특정한 값으로 보정하기 보다 수집된 데이터 위주로 분석하기로 결정

In [15]:
welfare['sex'].value_counts()

sex
2.0    7913
1.0    6505
Name: count, dtype: int64

In [16]:
welfare['birth'].value_counts()

birth
1942.0    317
1939.0    258
1940.0    255
1947.0    246
1943.0    233
         ...
1924.0      4
1919.0      2
1920.0      2
1917.0      1
1907.0      1
Name: count, Length: 102, dtype: int64

In [17]:
welfare['marriage_type'].value_counts()

marriage_type
1.0    7190
5.0    2357
0.0    2121
2.0    1954
3.0     689
4.0      78
6.0      29
Name: count, dtype: int64

In [18]:
welfare['religion'].value_counts()

religion
2.0    7815
1.0    6603
Name: count, dtype: int64

In [19]:
welfare['income'].value_counts()

income
27.0      281
200.0     145
150.0      86
250.0      84
180.0      73
         ...
521.0       1
718.0       1
1892.0      1
755.0       1
719.0       1
Name: count, Length: 709, dtype: int64

In [20]:
welfare['code_job'].value_counts()

code_job
611.0    962
941.0    391
521.0    354
312.0    275
873.0    236
        ...
112.0      2
784.0      2
423.0      1
861.0      1
872.0      1
Name: count, Length: 150, dtype: int64

In [21]:
welfare['code_region'].value_counts()

code_region
2.0    3246
7.0    2466
3.0    2448
1.0    2002
4.0    1728
5.0    1391
6.0    1137
Name: count, dtype: int64

* 중복값 삭제 (필요시)

  - 모든 중복 행데이터 확인

In [23]:
welfare[welfare.duplicated(keep=False)]

       sex   birth  marriage_type  religion  income  code_job  code_region
0      2.0  1945.0            2.0       1.0     NaN       NaN          1.0
4      2.0  1963.0            1.0       1.0     NaN       NaN          1.0
5      2.0  2003.0            0.0       1.0     NaN       NaN          1.0
10     2.0  1992.0            5.0       1.0     NaN       NaN          1.0
11     1.0  1940.0            1.0       2.0     NaN       NaN          1.0
...    ...     ...            ...       ...     ...       ...          ...
14406  2.0  1947.0            2.0       2.0     NaN       NaN          6.0
14409  2.0  1934.0            2.0       1.0     NaN       NaN          6.0
14411  2.0  1958.0            1.0       1.0     NaN     611.0          6.0
14413  2.0  1967.0            1.0       1.0     NaN       NaN          5.0
14417  1.0  2001.0            0.0       1.0     NaN       NaN          5.0

[6914 rows x 7 columns]

중복데이터가 확인이 되나 특정인에 대한 primary key가 없고 중복이 될 수 있는 사람의 정보로 판단하여 특별히 삭제 하지 않음

## 3. 초기데이터 분석

### 3.1. 데이터 정제후 데이터스키마 재확인

* 1-2 작업을 다시 해보세요.

In [24]:
welfare.shape

(14418, 7)

In [25]:
welfare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14418 entries, 0 to 14417
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sex            14418 non-null  float64
 1   birth          14418 non-null  float64
 2   marriage_type  14418 non-null  float64
 3   religion       14418 non-null  float64
 4   income         4534 non-null   float64
 5   code_job       6878 non-null   float64
 6   code_region    14418 non-null  float64
dtypes: float64(7)
memory usage: 788.6 KB

### 3.2 데이터 기초정보 정보 확인

* 최대값, 최소값, 평균값, 표준편차, 최빈값, 유일값, 결측치, 이상치 등의 정보를 재확인해 보세요

In [26]:
welfare.describe()

,sex,birth,marriage_type,religion,income,code_job,code_region
count,14418.000000,14418.000000,14418.000000,14418.000000,4534.000000,6878.00000,14418.000000
mean,1.548828,1969.280205,1.764184,1.542031,268.455007,587.54827,3.730684
std,0.497627,24.402250,1.613871,0.498248,198.021206,264.23507,2.049151
min,1.000000,1907.000000,0.000000,1.000000,0.000000,111.00000,1.000000
25%,1.000000,1948.000000,1.000000,1.000000,150.000000,313.00000,2.000000
50%,2.000000,1968.000000,1.000000,2.000000,220.000000,611.00000,3.000000
75%,2.000000,1990.000000,2.000000,2.000000,345.750000,873.00000,5.000000
max,2.000000,2018.000000,6.000000,2.000000,1892.000000,1009.00000,7.000000

### 3.3 시각화를 통한 데이터이해 심화

* 데이터의 성격에 따라 이해도를 올리기 위해 시각화가 필요한 데이터차트를 만들어 보세요.  
  (Seaborn 추천: 페어플롯, 막대차트, 파이차트, 라인차트, 히스토그램등..)
* 시각화한 차트에 대한 분석

# 4. 탐색적연구

#### Step1] 가설: 데이터 분석을 위한 목적, 대상 또는 가설을 세워본다.
* 예) 나이와 월급간에 상관관계가 있을 것이다. (40~60대 사이에서 급여가 가장 높을 것이다)

#### Step2] 가설증명: 데이터 재 구조화, 시각화를 통해 새로운 insight 및 정보를 습득 및 가설을 검증한다. 
* 예) 나이별 월급에 대한 평균값을 구하고 line차트로 시각화하여 추세를 파악하여 가설을 검증한다.

#### Step3] 가설결론: 해당 가설에 대한 결론을 내린다.

#### Step4] 탐색적연구 반복: 시간 일정이 허락하는 범위내에서 Step1~Step3를 반복한다.

#### Step5] 최종결론: 지금까지 진행했던 모든 탐색적연구의 결과를 반영하여 최종 결론을 내린다.